<!-- views/about.ejs -->
<!-- About page with author details -->

<%- include("partialViews/head") %>
<%- include("partialViews/navbar") %>

<main class="container my-4">

    <h1 class="mb-3"><%= title %></h1>

    <p class="lead">
        This e-commerce website was developed as the final assignment for my Web Development module at ATU.
    </p>

    <p class="lead">
        <strong>Student ID:</strong> G00472878
    </p>

    <p class="lead">
        The site demonstrates the use of (vanilla) HTML5, CSS, JavaScript, as well as Node.js and Express
        <br>
        EJS templates are used to create each page dynamically, and Bootstrap 5 and a MySQL database.
        <br>
        No frameworks were used, e.g. Angular, React, Laravel etc.
    </p>

</main>

<%- include("partialViews/footer") %>
