

/* public/css/site.css */
/* Keep styling minimal and let Bootstrap do most of the work */

.hero img {
    width: 100%;
    max-height: 280px;
    object-fit: cover;
    display: block;
}

/* Product images: this is to keep all cards visually consistent as I didn't have time to format their dimensions */
/* Product images uniform sizing */
.card-img-top {
    height: 220px;
    object-fit: cover;
}




/* Home carousel image sizing */
/*Stopped it becoming ugly*/
.carousel-inner img {
    height: 320px;
    object-fit: cover;
}
